[package]
name = "gfold"
version = "0.1.0"
authors = ["Nick Gerace <nickagerace@gmail.com>"]
edition = "2018"

[dependencies]
clap = { git = "https://github.com/clap-rs/clap/" }
colored = "1.9"
git2 = "0.13"