name: CI
on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "**/*.md"
      - "LICENSE"
      - "assets/*.gif"
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - "**/*.md"
      - "LICENSE"
      - "assets/*.gif"
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5

      - name: Install mold
        uses: rui314/setup-mold@v1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Perform CI
        run: cargo xtask ci
